docs/n8n-workflow-example.json

{
  "name": "WhatsApp Evolution API - Supabase Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "webhook-evolution"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event}}",
              "operation": "equal",
              "value2": "message.upsert"
            }
          ]
        }
      },
      "id": "filter-messages",
      "name": "Filter Message Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "messages",
        "columns": "user_id, instance_name, message_id, from_jid, to_jid, message_text, message_timestamp, from_me",
        "additionalFields": {
          "upsert": true,
          "onConflict": "message_id"
        }
      },
      "id": "save-to-supabase",
      "name": "Save Message to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Message processed\"}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar dados da mensagem da Evolution API\nconst messageData = $input.first().json;\n\n// Extrair informações da mensagem\nconst message = messageData.data;\nconst instanceName = messageData.instance || 'default';\n\n// Processar cada mensagem no array\nconst processedMessages = [];\n\nif (message && message.messages) {\n  for (const msg of message.messages) {\n    const processedMsg = {\n      user_id: null, // Será preenchido baseado na instância\n      instance_name: instanceName,\n      message_id: msg.key?.id,\n      from_jid: msg.key?.remoteJid,\n      to_jid: msg.key?.remoteJid,\n      message_text: msg.message?.conversation || \n                   msg.message?.extendedTextMessage?.text ||\n                   msg.message?.imageMessage?.caption ||\n                   'Media message',\n      message_timestamp: new Date(msg.messageTimestamp * 1000).toISOString(),\n      from_me: msg.key?.fromMe || false,\n      message_type: 'text'\n    };\n    \n    // Determinar tipo de mensagem\n    if (msg.message?.imageMessage) {\n      processedMsg.message_type = 'image';\n      processedMsg.media_url = msg.message.imageMessage.url;\n      processedMsg.media_caption = msg.message.imageMessage.caption;\n    } else if (msg.message?.videoMessage) {\n      processedMsg.message_type = 'video';\n      processedMsg.media_url = msg.message.videoMessage.url;\n      processedMsg.media_caption = msg.message.videoMessage.caption;\n    } else if (msg.message?.documentMessage) {\n      processedMsg.message_type = 'document';\n      processedMsg.media_url = msg.message.documentMessage.url;\n      processedMsg.media_caption = msg.message.documentMessage.fileName;\n    }\n    \n    processedMessages.push(processedMsg);\n  }\n}\n\n// Retornar mensagens processadas\nreturn processedMessages.map(msg => ({ json: msg }));"
      },
      "id": "process-message-data",
      "name": "Process Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.from_me}}",
              "operation": "equal",
              "value2": "false"
            }
          ]
        }
      },
      "id": "filter-incoming-only",
      "name": "Filter Incoming Messages Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://134.199.202.47:8080/message/sendText/={{$json.instance_name}}",
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "jsonParameters": true,
        "parametersJson": "={\n  \"number\": \"{{$json.from_jid.replace('@s.whatsapp.net', '')}}\",\n  \"text\": \"Olá! Recebemos sua mensagem: '{{$json.message_text}}'. Em breve entraremos em contato!\"\n}",
        "options": {}
      },
      "id": "auto-reply",
      "name": "Send Auto Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-auth",
          "name": "Evolution API Auth"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Evolution API": {
      "main": [
        [
          {
            "node": "Filter Message Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message Events": {
      "main": [
        [
          {
            "node": "Process Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message Data": {
      "main": [
        [
          {
            "node": "Save Message to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Incoming Messages Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message to Supabase": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Incoming Messages Only": {
      "main": [
        [
          {
            "node": "Send Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "id": "whatsapp",
      "name": "WhatsApp"
    },
    {
      "id": "evolution-api",
      "name": "Evolution API"
    },
    {
      "id": "supabase",
      "name": "Supabase"
    }
  ]
}
